:root {
    --font-color: #FF4D00;
    --primary-color: #38364E;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(30deg, #070045, #38364E 100%);
    width: 100%;
    height: auto;
}

header {
    display: flex;
    color: var(--font-color);
    justify-content: center;
    align-items: center;
}

header nav ul li i {
    padding-left: 10px;
}

header nav {
    position: absolute;
    display: block;
    background-color: var(--primary-color);
    left: 0;
    height: 100%;
    width: 70dvw;
    top: 0;
}

header nav ul li a {
    display: flex;
    color: var(--font-color);
    text-decoration: none;
    font-family: 'Roboto Condesed', sans-serif;
    padding: 20px;
    font-size: 24px;
    transition: ease-in-out 0.3s;
}

header nav ul li a:hover {
    background-color: var(--font-color);
    color: black;
}

.drop-hover {
    position: relative;
}

.drop {
    width: 100%;
    position: absolute;
    background-color: #39384c;
    height: 0;
    overflow: hidden;
    transition: ease-in-out 0.3s;
}

.drop-hover:hover .drop {
    height: 300px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--font-color);
    border-radius: 5px;
}

#menu-lateral {
    transform: translateX(-100%);
    transition: ease-in-out 0.3s;
    z-index: 99;
}

#menu-lateral.active {
    transform: translateX(0)
}

.header-menu-lateral {
    display: flex;
    height: 5rem;
    margin: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.logo-menu-mobile {
    width: auto;
    font-family: 'Monoton', sans-serif;
    font-size: 12px;
}

.logo-menu-mobile h1 {
    font-weight: 100;
}

#input {
    height: 24px;
    border-radius: 10px;
    border: none;
    outline: none;
}

#input::placeholder {
    padding-left: 5px;
}

#mobile-menu {
    cursor: pointer;
    font-size: 20px;
}

#mobile-close-menu {
    cursor: pointer;
    font-size: 20px;
}

.logo {
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    color: var(--font-color);
}

.logo h1 {
    height: 50px;
    font-size: 40px;
    font-family: 'Monoton', sans-serif;
    font-weight: 100;
    cursor: pointer;
}

.logo span {
    font-size: 16px;
    font-family: 'Roboto Condesed', sans-serif;
    cursor: default;
}

header i {
    height: auto;
}

main {
    width: 100%;
    height: 100%;
}

.container-slider {
    padding-top: 10px;
    height: 16rem;
}

.container-slideshow {
    display: flex;
    position: relative;
    height: auto;
    width: 100%;
    justify-content: center;
    height: 100%;
}

.container-slide-info-filme {
    background: linear-gradient(60deg, #000000, #0000002b 50%, #6666662b 70%);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
}

.info-filme {
    height: 50%;
    width: 100%;
}

.container-items {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
}

.img-filme-slideshow {
    margin-left: 10px;
    margin-bottom: 5px;
    width: 8%;
    background-color: #000000;
}

.img-filme-slideshow img {
    width: 100%;
}

.classificacao-filme-slideshow {
    width: 40%;
    display: flex;
    font-size: 5px;
    margin-left: 10px;
    margin-top: 2px;
    justify-content: space-between;
}

.classificacao-filme-slideshow span {
    color: #FFF;
    font-family: "Roboto Condesed", sans-serif;
    margin-left: 5px;
}

.fa-solid.fa-star {
    color: #DB9600;
}

.fa-solid.fa-star.estrelaVazia {
    color: #474747;
}

.classificacao-indicativa-slideshow {
    width: 10px;
}

.classificacao-indicativa-slideshow img{
    width: 100%;
}

.sinopse-filme-slideshow {
    width: 40%;
    height: 8ch;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    font-size: 8px;
    color: white;
    font-family: "Roboto Condesed", sans-serif;
}


.item {
    min-width: 100%;
    height: 100%;
    transition: ease-in-out 0.3s;
}

.item img {
    width: 100%;
    height: max-content;
    object-fit: cover;
}

.filmes {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 20px;
}

.filme {
    color: var(--font-color);
    font-family: "Roboto Condesed", sans-serif;
    height: 12rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    overflow: hidden;
}

.filme span {
    padding-left: 30px;   
}

.container-card-filmes {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
}

.container-card-filmes button {
    background-color: transparent;
    border: none;
    color: #FFF;
    font-family: "Lilita One", sans-serif;
    width: 90px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

.container-card-filmes .imagem:nth-child(9),
.container-card-filmes .imagem:nth-child(8),
.container-card-filmes .imagem:nth-child(7),
.container-card-filmes .imagem:nth-child(6),
.container-card-filmes .imagem:nth-child(5),
.container-card-filmes .imagem:nth-child(4) {
    display: none;
}

.imagem {
    background-color: black;
    width: 90px;
    height: 130px;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


footer {
    width: 100%;
    padding-top: 25%;
    display: flex;
    margin-bottom: 50px;
}

.redes-sociais {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--font-color);
    justify-content: space-evenly;
    border-right: solid 2px var(--font-color);
    
}

.container-redes-sociais {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    margin-left: 20px;

}

.container-icon-link a {
    font-family: "Roboto Condesed", sans-serif;
    color: var(--font-color);
    text-align: center;
}

.links-importantes {
    width: 50%;
    
}

.links-importantes ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.links li a {
    color: var(--font-color);
    font-family: "Roboto Condesed", sans-serif;
} 

@media (min-width: 1024px) {

    .container-card-filmes .imagem:nth-child(6),
    .container-card-filmes .imagem:nth-child(5),
    .container-card-filmes .imagem:nth-child(4) {
        display: block;
    }

    .imagem {
        background-color: black;
        width: 100px;
        height: 160px;
    }

    .filme span {
        padding-left: 30px;
        font-size: 20px;   
    }

    .filmes {
        gap: 100px;
    }

}

@media (min-width: 1420px) {

    .container-card-filmes .imagem:nth-child(9),
    .container-card-filmes .imagem:nth-child(8),
    .container-card-filmes .imagem:nth-child(7) {
        display: block;
    }

    .imagem {
        background-color: black;
        width: 150px;
        height: 250px;
    }

    .filme {
        height: 100%;
    }

    .filme span {
        padding-left: 30px;
        font-size: 20px;   
    }

    .filmes {
        gap: 100px;
    }

    .container-card-filmes {
        height: auto;
    }

}