:root {
    --font-color: #FF4D00;
    --primary-color: #38364E;
    --monoton-font: 'Monoton', sans-serif;
    --roboto-font: 'Roboto Condesed', sans-serif;
    --tertiary-color: #070045;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(30deg, #070045 5%, #38364E 80%);
    width: 100%;
    height: auto;
    overflow-y: scroll;
}

.scroll-desativado {
    overflow-y: hidden;
}

.background {
    display: none;

    transition: ease-in-out 0.3s;
    position: absolute;
    z-index: 999;

    height: 100dvh;
    width: 100dvw;

    background-color: #00000079;

    /* Efeito de desfoque */
    backdrop-filter: blur(10px); /*Navegadores no-webkit*/
    -webkit-backdrop-filter: blur(10px); /*Navegadores webkit*/
}

.background.active {
    display: block;
}

.container-input {

    z-index: 1001;
    transition: ease-in-out 0.3s;
    transform: translateY(-100%);
    border: #38364E;
    position: absolute;
    top: 0;
    background-color: #252433;
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .container-input-relative {
        
        display: flex;
        align-items: center;
        width: 90%;
        height: 80%;
        position: relative;
    }

    input {

        width: 100%;
        height: 1.5rem;
        position: absolute;
        
        padding-left: 5px;
        
        border: none;
        border-bottom: solid var(--font-color) 2px;
        outline: none;

        color: white;

        background-color: transparent;

    }

    input::-webkit-input-placeholder {
        color: var(--font-color);
        font-family: var(--font-color);
    }

    i {
        width: 10px;
        height: 10px;
        color: var(--font-color);
        position: absolute;
        margin-left: 95%;
        padding-bottom: 5%;
        cursor: pointer;
    }

}

.container-input.active {
    transform: translateY(0);
}



header {
    display: flex;
    color: var(--font-color);
    
}

.container-side-bar {

    transition: ease-in-out 0.3s;
    transform: translateX(-100%);
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;

    background-color: var(--primary-color);
    border-right: 1px #252433 solid;

    height: 100dvh;
    width: 50dvw;

    .menu-side-bar {
        
        margin-bottom: 30px;
        

        .header-menu-side-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;
            margin-top: 20px;

            h1 {
                cursor: pointer;
                font-family: var(--monoton-font);
                font-weight: 400;
                width: auto;
            }
            
            i {
                cursor: pointer;
                font-size: 15px;
            }

        }

    }

    .container-item {

        .container-style-item {

            display: flex;
            justify-content: space-between;

            cursor: pointer;

            transition: ease-in-out 0.3s;

            padding: 10px;
            padding-block: 20px;

            font-family: var(--roboto-font);
            font-weight: 600;

            .container-name-item {
                transition: ease-in-out 0.3s;

                display: flex;
                gap: 10px;
            }

            .container-icon-arrow-down {
                transition: ease-in-out 0.5s;
                transform: rotate(180deg);
            }

        }

        .container-style-item.normal:hover {
            
            background-color: var(--font-color);

            color: var(--tertiary-color);

            .container-name-item {
                color: var(--tertiary-color);

                transition: ease-in-out 0.3s;

                display: flex;
                gap: 10px;
            }

            .container-icon-arrow-down {
                transform: rotate(0deg);
            }
            

        }

        .container-style-item.active#categorias {

            background-color: var(--font-color);

            color: var(--tertiary-color);

            .container-name-item {
                color: var(--tertiary-color);

                transition: ease-in-out 0.3s;

                display: flex;
                gap: 10px;
            }

            .container-icon-arrow-down {
                transform: rotate(0deg);
            }

        }

    }

    .drop-hover {
        position: relative;
        background-color: #252433;

        display: flex;
        flex-direction: column;
        
        transition: ease-in-out 0.3s;

        height: 0px;
        overflow-y: auto;

        .link {
            transition: ease-in-out 0.3s;

            padding: 10px;
            
            cursor: pointer;

            a {
                transition: ease-in-out 0.3s;

                font-size: 1rem;
                text-decoration: none;
                font-weight: 600;
                color: #FF4D00;
                font-family: var(--roboto-font);
            }

        }

        .link:hover {

            background-color: var(--font-color);

            a {
                color: var(--tertiary-color);
            }

        }

    }

    .drop-hover.active {
        height: 300px;
    }

}



.container-side-bar.active {
    transform: translateX(0);

}

body::-webkit-scrollbar {
    display: none;
}

.drop-hover::-webkit-scrollbar {
    width: 10px;
}

.drop-hover::-webkit-scrollbar-track {
    background: var(--primary-color);
}

.drop-hover::-webkit-scrollbar-thumb {
    background-color: var(--font-color);
    border-radius: 5px;
}

#mobile-menu-icon {
    cursor: pointer;
    font-size: 20px;
    margin-left: 15px;
}

.button-pesquisa {
    margin-right: 15px;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: auto;
    width: 100%;
}

.logo h1 {
    height: 50px;
    font-size: 40px;
    font-family: var(--monoton-font);
    font-weight: 100;
    cursor: pointer;
}

.logo span {
    font-size: 0.8rem;
    font-family: var(--roboto-font);
    font-weight: 600;
    cursor: default;
}

.container-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

main {
    width: 100%;
    height: 100%;
}

.container-slider {
    padding-top: 10px;
    overflow: hidden;
}

.container-filmes-slider {
    display: flex;
    position: relative;
    height: auto;
    width: 100%;
    height: 100%;
}

.container-label-filme-slider {
    background: linear-gradient(60deg, #000000, #0000002b 50%, #6666662b 70%);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
}

.container-informacoes-filme-slider {
    height: 50%; 
    width: 100%;
    margin-bottom: 3%;
}

.poster-filme-informacoes-slider {
    margin-left: 10px;
    margin-bottom: 5px;
    width: 10%;
    background-color: #000000;
}

.poster-filme-informacoes-slider img {
    display: block;

}

.classificacao-filme-slider {
    width: 40%;
    display: flex;
    font-size: 5px;
    margin-left: 10px;
    margin-top: 2px;
    justify-content: space-between;
}

.classificacao-filme-slider span {
    color: #FFF;
    font-family: var(--roboto-font);
    margin-left: 5px;
}

.fa-solid.fa-star {
    color: #DB9600;
}

.fa-solid.fa-star.estrelaVazia {
    color: #474747;
}

.classificacao-indicativa-slider {
    width: 10px;
}

.classificacao-indicativa-slider img{
    width: 100%;
}

.sinopse-filme-slider {
    width: 40%;
    height: 8ch;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    font-size: 8px;
    color: white;
    font-family: var(--roboto-font);
}


.container-filme-slider {
    min-width: 100%;
    height: 100%;
    transition: ease-in-out 0.3s;
}

.container-filme-slider img {
    width: 100%;
    display: block;
    height: max-content;
    object-fit: cover;
}

.filmes {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 20px;
}

.container-filmes {
    color: var(--font-color);
    font-family: var(--roboto-font);
    height: 14rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    overflow: hidden;
}

.container-filmes span {
    padding-left: 30px;
    padding-block: 20px;
    font-weight: 600;
}

.container-card-filmes {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
}

.container-card-filmes button {
    background-color: transparent;
    border: none;
    color: #FFF;
    font-family: "Lilita One", sans-serif;
    width: 90px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

.container-card-filmes .filme:nth-child(9),
.container-card-filmes .filme:nth-child(8),
.container-card-filmes .filme:nth-child(7),
.container-card-filmes .filme:nth-child(6),
.container-card-filmes .filme:nth-child(5),
.container-card-filmes .filme:nth-child(4) {
    display: none;
}

#lancamento .container-card-filmes .filme:nth-child(4) {
    display: block;
}

.filmeClick {
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
}

.filme {
    position: relative;
    background-color: black;
    width: 90px;
    height: 130px;
}

.filme img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


footer {
    width: 100%;
    padding-top: 25%;
    display: flex;
    margin-bottom: 50px;
}

.redes-sociais {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: var(--font-color);
    justify-content: space-evenly;
    border-right: solid 2px var(--font-color);
    
}

.container-redes-sociais {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    margin-left: 20px;

}

.container-icon-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.container-icon-link a {
    font-size: 14px;
    font-family: var(--roboto-font);
    color: var(--font-color);
    text-align: center;
}

.links-importantes {
    width: 50%;
    
}

.links-importantes ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.links li a {
    color: var(--font-color);
    font-family: var(--roboto-font);
} 

#container-filmpage-filme {
    padding-block: 50px;
    height: 100%;

    .titulo-filme {
    color: var(--font-color);
    font-family: var(--roboto-font);
    padding-left: 10px;
    font-weight: 600;
    }

    .container-trailer {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        background-color: black;
    }

    .container-trailer img {
        object-fit: cover;
        width: 100%;
    }

    .filme-sinopse {
        color: var(--font-color);
        font-family: var(--roboto-font);
        padding-top: 10px;
        padding-inline: 10px;
        width: 100%;
    }

}

#recomendacoes .container-card-filmes .filme:nth-child(4) {
    display: block;
}

.container-filmes-film-page {
    margin-top: 50px;

     .genero-filmes {
        color: var(--font-color);
        font-family: var(--roboto-font);
        padding-left: 30px;
        font-weight: 600;
        font-size: 1.5rem;
    }

    .page-filme {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        width: 100%;

    }

    .page-filme .filme {
            margin-block: 10px;
    }

}

.buttons-pages {
    display: flex;
    justify-content: center;
    width: auto;
    gap: 5px;
    align-items: center;
}

.pagination i {
    margin-inline: 10px;
    font-size: 1rem;
    cursor: pointer;
    color: var(--font-color);
}

.button-page {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    color: var(--font-color);
    cursor: pointer;
    font-family: var(--roboto-font);
    font-weight: 600;
}

.button-page:hover {
    background-color: var(--font-color);
    color: var(--tertiary-color);
    transition: ease-in-out 0.3s;
}

.button-page.active {
    background-color: var(--font-color);
    color: var(--tertiary-color);
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-top: 20px;
    
}

@media (min-width: 768px) {

    .img-filme-slideshow {
        width: 11%;
    }

    .sinopse-filme-slider {
        font-size: 16px;
    }

    .classificacao-filme-slider {
        font-size: 16px;
    }

    .classificacao-filme-slider img {
        width: 24px;
    }

    .container-card-filmes .filme:nth-child(6),
    .container-card-filmes .filme:nth-child(5),
    .container-card-filmes .filme:nth-child(4) {
        display: block;
    }

    .lancamento .container-card-filmes .filme:nth-child(7) {
        display: block;
    }

    .filme {
        background-color: black;
        width: 100px;
        height: 160px;
    }

    .filme span {
        padding-left: 30px;
        font-size: 20px;   
    }

    .filmes {
        gap: 100px;
    }

}

@media (min-width: 1420px) {

    .container-card-filmes .filme:nth-child(9),
    .container-card-filmes .filme:nth-child(8),
    .container-card-filmes .filme:nth-child(7) {
        display: block;
    }

    .filme {
        background-color: black;
        width: 150px;
        height: 250px;
    }

    .filme {
        height: 100%;
    }

    .filme span {
        padding-left: 30px;
        font-size: 20px;   
    }

    .filmes {
        gap: 100px;
    }

    .container-card-filmes {
        height: auto;
    }




}